In [26]:
import os
import requests
import pandas as pd
import numpy as np
import datetime
import time

from io import StringIO
from dotenv import  load_dotenv

In [2]:
# Load API Key
load_dotenv()
API_KEY = os.getenv("API_KEY")
print("API ending in ..."+str(API_KEY)[-5:-1]+" has been loaded succesfully" if API_KEY else "Not found")

API ending in ...osHJ has been loaded succesfully

In [3]:
# Get cash amount and interest earned
url = "https://live.trading212.com/api/v0/equity/account/cash"
headers = {"Authorization": API_KEY}
response = requests.get(url, headers=headers)
cash_data = response.json()

In [4]:
cash_df = pd.json_normalize(cash_data)
# Free cash includes cash in pie, substract pieCash from free for available cash
cash_df['free'] = cash_df['free'] - cash_df['pieCash']
cash_df = cash_df.drop(['result', 'pieCash', 'blocked'], axis=1)
cash_df.head()

      free    total     ppl  invested
0  1917.48  5789.07  104.49   3766.59

In [5]:
# Get original cash before interest
url = "https://live.trading212.com/api/v0/history/transactions"

query = {
  "limit": "10"
}

headers = {"Authorization": API_KEY}

response = requests.get(url, headers=headers, params=query)

data = response.json()
transactions = data['items']
next_page = data['nextPagePath']
print(data['items'])

while(next_page is not None):
    query['cursor'] = next_page[16:52]
    query['time'] = next_page[-24:]
    response = requests.get(url, headers=headers, params=query)
    data = response.json()
    trans = data['items']
    print(data['nextPagePath'])
    next_page = data['nextPagePath']
    print(trans)
    transactions.extend(trans)
    time.sleep(11)

[{'type': 'DEPOSIT', 'amount': 0.22, 'reference': '968bc230-7b59-438f-bfcc-bdebcec20689', 'dateTime': '2025-07-27T00:12:19.856Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': '1925c283-f6a5-45e6-81d2-f97db50d65c6', 'dateTime': '2025-07-26T00:18:29.450Z'}, {'type': 'DEPOSIT', 'amount': 0.23, 'reference': 'de347c8b-133a-44ca-ab85-a7df87a54bef', 'dateTime': '2025-07-25T00:18:38.244Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': 'e834ad41-21eb-49db-8b58-bb39bacb5342', 'dateTime': '2025-07-24T00:17:43.840Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': '5d2511dd-7e94-4ad1-b8e4-86a96d07b651', 'dateTime': '2025-07-23T00:18:01.961Z'}, {'type': 'DEPOSIT', 'amount': 0.23, 'reference': '03bb348e-367a-4fdc-ad17-3123d59de8dc', 'dateTime': '2025-07-22T00:18:42.304Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': 'a3a127c2-f103-42a6-b68b-2b0d389e4939', 'dateTime': '2025-07-21T00:12:33.207Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': '570cf181-1a84-4cd3-831b-c37d9b58756a', 'dateTime': '2025-07-20T00:18:04.818Z'}, {'type': 'DEPOSIT', 'amount': 0.23, 'reference': 'a05e2709-1668-4629-b3d4-68ba88366e2d', 'dateTime': '2025-07-19T00:18:17.833Z'}, {'type': 'DEPOSIT', 'amount': 0.22, 'reference': 'a8f40621-0315-48b7-a0db-f46e94cff8d3', 'dateTime': '2025-07-18T00:18:49.921Z'}]
limit=10&cursor=10f6c7a3-9dc2-4be2-82d5-bffbe908df7e&time=2025-07-08T20:04:08.457Z
[{'type': 'DEPOSIT', 'amount': 0.22, 'reference': '73fc1960-f2b7-44d0-bb3d-98b02b1b066a', 'dateTime': '2025-07-17T00:12:56.858Z'}, {'type': 'WITHDRAW', 'amount': -1000.0, 'reference': '39220ece-3877-40cf-9a50-3b6f7dfc9c60', 'dateTime': '2025-07-16T15:54:01.730Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '67d61896-ff10-4d17-8ffb-85b1a735074d', 'dateTime': '2025-07-16T00:13:25.554Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '088bfd79-dce4-42df-b549-e31d96fd972b', 'dateTime': '2025-07-15T00:12:51.542Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '1045be98-4345-4d7a-b98b-0ed56f7b26df', 'dateTime': '2025-07-14T00:18:17.237Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': 'a56b513e-29f2-4994-a028-b357490c9a7e', 'dateTime': '2025-07-13T00:12:29.855Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '1e917dbd-b478-4661-bdfd-d12e16a2312d', 'dateTime': '2025-07-12T00:18:04.570Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': 'c8204c41-5122-41ae-9488-e571fd7fbd4f', 'dateTime': '2025-07-11T00:17:51.595Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '33399458-cf32-45c8-b80d-58190205cd7f', 'dateTime': '2025-07-10T00:16:46.239Z'}, {'type': 'DEPOSIT', 'amount': 0.34, 'reference': '5c116418-7ee5-4eb8-a801-d3fdd6fc44ac', 'dateTime': '2025-07-09T00:19:07.750Z'}]

KeyboardInterrupt:

In [ ]:
url = "https://live.trading212.com/api/v0/history/transactions"

query = {
  "cursor": "00766c05-0ac6-414c-972c-cb9e5ce95445",
  "limit": "10",
  "time": "2025-01-23 16:43:17.296Z"
}

headers = {"Authorization": API_KEY}

response = requests.get(url, headers=headers, params=query)

data = response.json()
response

In [ ]:
transactions_df = pd.DataFrame(transactions)
transactions_df.loc[(transactions_df['amount'] > 0)&(transactions_df['amount'] < 100), 'type'] = 'INTEREST'
transactions_df.tail()

,type,amount,reference,dateTime
121,INTEREST,0.01,a78b59ed-2e00-4777-81a8-67a349e9e7f5,2025-01-27T02:10:34.125Z
122,INTEREST,0.01,5ba10255-54c4-460d-96c6-4d2877b128df,2025-01-26T02:10:35.786Z
123,INTEREST,0.01,71b7aa17-60a1-4d8b-906a-09abb8a23ecc,2025-01-25T02:10:31.139Z
124,DEPOSIT,100.00,198596ac-acfd-4887-a333-cdff162af6bc,2025-01-24T16:39:35.250Z
125,INTEREST,0.01,4adfd051-b135-4716-8d86-d1ad1b462104,2025-01-24T02:10:30.960Z

In [ ]:
url = "https://live.trading212.com/api/v0/history/exports"
now = datetime.datetime.now().strftime('%Y-%m-%dT%H:%M:%SZ')

payload = {
  "dataIncluded": {
    "includeDividends": True,
    "includeInterest": True,
    "includeOrders": True,
    "includeTransactions": True
  },
  "timeFrom": "2025-01-01T00:00:00Z",
  "timeTo": now
}

headers = {
  "Content-Type": "application/json",
  "Authorization": API_KEY
}

response = requests.post(url, json=payload, headers=headers)

data = response.json()
report_id = data['reportId']
time.sleep(60)

url = "https://live.trading212.com/api/v0/history/exports"

headers = {"Authorization": API_KEY}

response = requests.get(url, headers=headers)

data = response.json()
recent_report = [file for file in data if file['reportId']==report_id]
recent_report

[{'reportId': 2804571, 'timeFrom': '2024-12-31T23:00:00.000Z', 'timeTo': '2025-07-27T22:59:59.000Z', 'dataIncluded': {'includeOrders': True, 'includeTransactions': True, 'includeDividends': True, 'includeInterest': True}, 'status': 'Finished', 'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzYyOTAzMDQ0Mg.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T151038Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=2930536309f525d3168613830df309ae7b65dcd8ec4893fe05ffdc3c8b715944'}, {'reportId': 2808709, 'timeFrom': '2025-01-01T00:00:00.000Z', 'timeTo': '2025-07-27T20:04:02.000Z', 'dataIncluded': {'includeOrders': True, 'includeTransactions': True, 'includeDividends': True, 'includeInterest': True}, 'status': 'Finished', 'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzY0MzA0MjYwMw.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T190418Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=db14f714b72811e5816187ea3130e0c25310e19626db59474fffee1913988f56'}, {'reportId': 2808862, 'timeFrom': '2025-01-01T00:00:00.000Z', 'timeTo': '2025-07-27T20:08:59.000Z', 'dataIncluded': {'includeOrders': True, 'includeTransactions': True, 'includeDividends': True, 'includeInterest': True}, 'status': 'Finished', 'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzY0MzMzOTE5Nw.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T190901Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=d7081b98a9d2183de7ebb1fe3a231111422a1493487b50b524e31c5016d8e215'}, {'reportId': 2808924, 'timeFrom': '2025-01-01T00:00:00.000Z', 'timeTo': '2025-07-27T20:11:06.000Z', 'dataIncluded': {'includeOrders': True, 'includeTransactions': True, 'includeDividends': True, 'includeInterest': True}, 'status': 'Finished', 'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzY0MzQ2NjE5MQ.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T191118Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=9a175a45e09967f13caf0aed05aa1603f7c4ce8bc6412e66979c36ff82135482'}, {'reportId': 2808960, 'timeFrom': '2025-01-01T00:00:00.000Z', 'timeTo': '2025-07-27T20:12:25.000Z', 'dataIncluded': {'includeOrders': True, 'includeTransactions': True, 'includeDividends': True, 'includeInterest': True}, 'status': 'Finished', 'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzY0MzU0NTcxNg.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T191226Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=627ad3bf7e563e414f96c09b1bf70c795103ec51a9c9aacc87d7fdc337c0b68d'}]

[{'reportId': 2808960,
  'timeFrom': '2025-01-01T00:00:00.000Z',
  'timeTo': '2025-07-27T20:12:25.000Z',
  'dataIncluded': {'includeOrders': True,
   'includeTransactions': True,
   'includeDividends': True,
   'includeInterest': True},
  'status': 'Finished',
  'downloadLink': 'https://tzswiy3zk5dms05cfeo.s3.eu-central-1.amazonaws.com/from_2025-01-01_to_2025-07-27_MTc1MzY0MzU0NTcxNg.csv?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250727T191226Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIARJCCZCDEKCUWYOXG%2F20250727%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=627ad3bf7e563e414f96c09b1bf70c795103ec51a9c9aacc87d7fdc337c0b68d'}]

In [ ]:
report_link = recent_report[0]['downloadLink']
res = requests.get(report_link)
report = pd.read_csv(StringIO(res.text))
report.head()

,Action,Time,ISIN,Ticker,Name,Notes,ID,No. of shares,Price / share,Currency (Price / share),Exchange rate,Currency (Result),Total,Currency (Total),Withholding tax,Currency (Withholding tax),Stamp duty reserve tax,Currency (Stamp duty reserve tax),Currency conversion fee,Currency (Currency conversion fee)
0,Deposit,2025-01-04 10:01:13,NaN,NaN,NaN,NaN,dde257dd-5acd-43d8-8a27-7b5662732de8,NaN,NaN,NaN,NaN,NaN,10.00,GBP,NaN,NaN,NaN,NaN,NaN,NaN
1,Deposit,2025-01-06 14:41:57,NaN,NaN,NaN,Transaction ID: 57f1c4dd-2b70-4383-a0bb-f778cc...,e09333fd-b9b2-4231-92e5-7f10d9f8cc0e,NaN,NaN,NaN,NaN,NaN,2146.00,GBP,NaN,NaN,NaN,NaN,NaN,NaN
2,Market buy,2025-01-06 14:47:58.951,US22160K1051,COST,Costco Wholesale,NaN,EOF26154998932,0.0599,919.21,USD,1.25052643,GBP,44.10,GBP,NaN,NaN,NaN,NaN,0.07,GBP
3,Market buy,2025-01-06 14:49:07.632,GB0031348658,BARC,Barclays,NaN,EOF26156550473,15.3000,270.45,GBX,100.00000000,GBP,41.59,GBP,NaN,NaN,0.21,GBP,NaN,NaN
4,Market buy,2025-01-06 14:49:30.936,US0378331005,AAPL,Apple,NaN,EOF26156550856,0.3419,244.69,USD,1.25070281,GBP,66.99,GBP,NaN,NaN,NaN,NaN,0.10,GBP